<% content_for :title do %>Edit - <%= @season.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Edit Season: <%= link_to @season.name, @season %></h2>
  </div>
<% end %>

<%= render 'form' %>

