<% content_for :title do %>Seasonal Anime<% end %>

<% content_for :header do %>
  <h2 class="text-center">Seasonal Anime</h2>
<% end %>

<div id="seasons">
  <% @seasons.sort.reverse.each do |year| %>
    <div class="year">
      <h2><%= year[0] %></h2>
      <% year[1].each do |season| %>
      <div class="season">
        <div class="enhance">
          <%= primary_image_helper(season, season, 'medium') %>
          <div class="name"><h3><%= link_to season.name, season %></h3></div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>