<% content_for :title do %>Edit - <%= name_language_helper(@source,current_user,0) %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Edit Source: <%= link_to name_language_helper(@source,current_user,0), @source %></h2>
  </div>
<% end %>

<%= render 'form' %>