  <div class='row no-gutter'>
    <div class='col-md-2'>
      <div id='sidebar-nav' class='list-group'>
        <% collection.sort_by {|k,v| (k ||= "zzzzzz").downcase }.map do |k,v| %>
          <a class='text-center list-group-item expand-link' >
            <span class='ui-accordion-header-icon ui-icon ui-icon-triangle-1-s floaty'></span>
            <% if k.nil? %>
              <b><%= 'Unsorted' + ' (' + v.count.to_s + ')' %></b>
            <% else %>
              <b><%= k.to_s + ' (' + v.count.to_s + ')' %></b>
            <% end %>
          </a>
          <div>
            <% v.each do |record| %>
              <%= link_to (name_language_helper(record,current_user,0, :no_bold => true) + ' (' + record.albums.count.to_s + ')'), toggle_albums_path((record.class.to_s.downcase + '_id').to_sym => record.id), class: 'list-group-item indent', id: (record.class.to_s.downcase[0] + record.id.to_s), :remote => true %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='col-md-10'>
      <div id='album-list'>  
      </div>
    </div>
  </div>