<div class="enhance">
  <%= primary_image_helper(album, album, "medium", :album_list => true) %>
  <% if current_user.nil? == false && current_user.display_settings.include?("AlbumArtOutline") %>
    <% if album.collected?(current_user) %>
      <div class="collection-badge text-center">
        <span class="badge collected">
          Collected
        </span>
      </div>
    <% elsif album.ignored?(current_user) %>
      <div class="collection-badge text-center">
        <span class="badge ignored">
          Ignored
        </span>
      </div>    
    <% elsif album.wishlist? (current_user) %>
      <div class="collection-badge text-center">
        <span class="badge wishlist">
          Wishlist
        </span>
      </div>    
    <% end %>
  <% end %>
  <div class="album-footer text-center">
    <%= link_to name_language_helper(album,current_user,0), album %>
    <%= album.release_date.strftime('%B %-d, %Y') %>     
  </div>
</div>
