<div>
  <%= f.fields_for :record do |c| %>
    <%= c.label attribute, attribute == :db_status ?  'Database Status:' : "#{attribute.to_s.titleize}:" %>
    <%= c.select attribute, choices, include_blank: true %>
  <% end %>
</div>