<% content_for :title do %>Artists<% end %>

<% content_for :header do %>
  <h2 class="text-center">Artists</h2>
<% end %>

<div>
  <%= paginate @artists %>
  <div class="well">
    <%= render 'layouts/artist_org_source_index', :collection => @artists %>
  </div>
  <%= paginate @artists %>
</div>

<% content_for :usersidebar do %>
<% end %>

