<% content_for :title do %><%= @issue.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= @issue.name%></h2>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Destination:</b>
  <%= @issue.description %>
</p>
