<body>
  Greetings,<br><br>
  Thank you for using Hibiki. A password reset has been 
  <br>requested for this email. If you did not make this 
  <br>request, ignore this email. If you did make this request,
  <br>please follow the link below. It is valid for 3 hours.
  <br><br><%= link_to 'Reset Password', @url %>
</body>
