<% content_for :form_view do %>
  <%= form_for records.first, :html => {:class => "form-horizontal", multipart: true}, url: url do |form| %>
    <% records.each do |record| %>
      <%= fields_helper(record, fields: fields, multi_flag: multi_flag, form_prefix: form_prefix) %>
    <% end %>
    
    <% if no_submit_tag.nil? %>
      <div class="actions submit">
        <%= form.submit submit_title %>
      </div>
    <% end %>
  <% end %>
<% end %>
