<% content_for :title do %>New <%= record.class%> <% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>New <%= record.class %></h2>
  </div>
<% end %>

<%= render_form(record) %>
