<% content_for :title do %>Account Settings<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Account Settings</h1>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<% if current_user == @user %>

<%= render_form(@user, fields: User::EditProfileFields, url: update_profile_user_path(@user), no_submit_tag: true) %>

<% else %>
  <h4 class="text-center">This isn't your profile!</h4>
<% end %>


