<div class="row-fluid">
<%= fields_for :eventhash do |f| %>
		<%= f.label '', "Event Name (shorthand):", :class => "control-label" %>
		<%= f.text_field '', :class => "controls input-large" %>
<% end %>
</div>
