<% content_for :title do %>Source Material Workqueue<% end %>

<% content_for :header do %>
  <h2 class="text-center">Source Material Workqueue (<%= @sources.total_count %>)</h2>
<% end %>

<div id="index">
  <%= render :partial => 'layouts/primary_models/record_list', locals: {records: @sources} %>
</div>

