<% content_for :title do %>Update Available Workqueue<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Update Available Workqueue (Count: <%= @albums.total_count %>)</h2>
  </div>
<% end %>

<div id="index">
  <%= render :partial => 'layouts/primary_models/record_list', locals: {records: @albums} %>
</div>
  
