<% content_for :title do %>Access Denied<% end %>

<% content_for :header do %>
  <h2 class="text-center">Access Denied</h2>
<% end %>

<div>
  Sorry, you aren't allowed accessed to this part of the website. Make sure you're logged in! 
</div>
