<% content_for :title do %>Calendar<% end %>

<% content_for :header do %>
  <h2 class="text-center">Calendar</h2>
<% end %>


<%= render :partial => 'layouts/grid/album_area' %>

<% content_for :right_sidebar do %>
  <%= render :partial => 'layouts/grid/filter_sort_sidebar', :calender_date => true %>
<% end %>
