<% content_for :title do %>Changelog<% end %>

<% content_for :header do %>
  <h2 class="text-center">Changelog</h2>
<% end %>

-April 2015<br>
Completed Site Redesign<br>
<br>
-Apr 15, 2014<br>
Successful conversion to bootstrap 3!<br>
<br>
-Apr 14, 2014<br>
Successful conversion to linux. The site is now permanently up.<br>
<br>
-Mar 22, 2013<br>
Optimized searching (~1200 ms to ~400 ms)<br>
Started filtering out reprints and alternate printings from album listings.<br>
<br>
-Mar 12, 2013<br>
Revised Image loading and added thumbnails. Huge increase in performance!<br>
<br>
-Mar 7, 2013<br>
Added Event tags to export<br>
<br>
-Mar 6, 2013<br>
Releae dates and birth dates can now be partial dates.<br>
<br>
-Mar 5, 2013<br>
Added manifo.jp to information sources<br>
<br>
-Jan 5, 2013<br>
Added autocomplete for admins!<br>
<br>
-Dec 27, 2013<br>
Finished Tagging functionality!<br>
<br>
-Dec 26, 2013<br>
Finished Factory Methodizing Songs. Reset record status (Been needing this for a while).<br>
<br>
-Nov 23, 2013<br>
Added a copy/paste of urls function for scraping<br>
<br>
-Nov 19,2013-<br>
Added a really rough rescraping function. <br>
Added seasons <br>
<br>
-Nov 15, 2013- <br>
Scrapes and Posts are now in separate processes (daemons)<br>
Added Collections to related albums<br>
<br>
-Nov 13, 2013-<br>
Added a calendar.<br>
<br>
-Nov 6, 2013-<br>
Changed related albums/artists/orgs/songs/sources to be uniform (less code!)<br>
<br>
-Oct 28, 2013-<br>
Finally able to remove things from watchlist/collections.<br>
<br>
-Oct 27, 2013-<br>
Made a changelog
<br>


