<% content_for :title do %>Account deactivated<% end %>

<% content_for :header do %>
  <h2 class="text-center">This account has been deactivated.</h2>
<% end %>

<div>
  Sorry, you can no longer browse the site with this account. Please email the admin for further details. 
</div>
