<% content_for :title do %>Main Page<% end %>

<% content_for :header do %>
  <h2 class="text-center">Welcome to Hibiki</h2>
  <h5 class="text-center">A Japanese Music Database</h5>
<% end %>

<div id="content">
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render "posts/display_post", post: post, :truncate_length => 400%>
    <% end %>
  </div>
  <div id="sidebar">
    <div id="intro" >
      <div class="panel">
        <div class="panel-heading">About the author</div>
        <div class="panel-body">
          Just someone who really likes japanese music a lot.
        </div>
      </div>
    </div>
    <div id="database">
      <div class="panel">
        <div class="panel-heading">Albums from the database</div>
        <div class="panel-body">
          <% @albums.each_with_index do |album,n| %>
            <% if n.even? %>
              <div class='album-row'>
            <% end %>
            <div class='album-column'>
              <%= link_to primary_image_helper(album, album, "thumb", square: true) %>
            </div>
            <% if n.odd? %>
              </div><br>
            <% end %> 
            <% if n.even? and n == @albums.count - 1 %>     
              </div>
            <% end %>    
          <% end %>
        </div>
      </div>
    </div>    
    
    <div id="new-albums">
    </div>
  </div>
</div>
