<% content_for :title do %>Record not found<% end %>

<% content_for :header do %>
  <h2 class="text-center">Record not found</h2>
<% end %>

<div>
  This record has not been created yet or has been deleted. Sorry for the inconvenience. 
</div>
