<div class="row">
  <div class="col-md-3">
    <%= primary_image_helper(@album, @album, "medium", :outline_flag => true) %>
  </div>
  <div class="col-md-9">
    <h5 class="text-center"><%= link_to name_language_helper(@album,current_user,0), @album %></h5>
    <h6 class="text-center"><%= name_language_helper(@album,current_user,1) %></h6>
    <div class="row">

    </div>
  </div>
</div>