 <div id="image-sidebar">
    <% if record.images.count > 2 %>
      <% record.images.each_with_index do |image, n| %>
        <% if n.even? %>
          <div class="image-row">
        <% end %>
        <div class="image-column">
          <%= link_to image_helper(image, "thumb"), updateimage_path(:id => image.id), remote: true, class: "thumbnail thumbnail-bordered" %>
          <div class="image-text-link"><%= link_to image.name, updateimage_path(:id => image.id ), remote: true %></div>
        </div>
        <% if n.odd? %>
          </div>
        <% end %> 
        <% if n.even? && n == record.images.count - 1 %>     
          </div>
        <% end %>      
      <% end %>
    <% else %>
      <% record.images.each do |image| %>    
        <%= link_to image_helper(image, "thumb"), updateimage_path(:id => image.id), remote: true, class: "thumbnail thumbnail-bordered"  %>
        <div class="image-text-link"><%= link_to image.name, updateimage_path(:id => image.id ), remote: true %></div>
      <% end %>      
    <% end %>
  </div>