<div id="image-sidebar">
  <% if record.images.count > 2 %>
    <% record.images.each_with_index do |image, n| %>
      <% if n.even? %>
        <div class="image-row">
      <% end %>
      <div class="image-column">
        <%= image_linker(image, images_path_helper(record,image),'thumb', border: true, remote: true )%>
        <div class="image-text-link"><%= link_to image.name, images_path_helper(record,image), remote: true %></div>
      </div>
      <% if n.odd? %>
        </div>
      <% end %> 
      <% if n.even? && n == record.images.count - 1 %>     
        </div>
      <% end %>      
    <% end %>
  <% else %>
    <% record.images.each do |image| %>
      <%= image_linker(image, images_path_helper(record,image),'thumb', border: true, remote: true )%>
      <div class="image-text-link"><%= link_to image.name, images_path_helper(record,image), remote: true %></div>
    <% end %>      
  <% end %>
</div>