<div id="Image">
  <div class="text-center thumbnail thumbnail-margined">
    <% unless @image.nil? %>
      <%= image_tag_builder(@image, 'full', show_nws: @show_nws, title: @image.name)%>
      <% if @image.rating == 'NWS' %>
        <%= link_to 'Show NWS',  images_path_helper(record,@image, !@show_nws), remote: true%>
      <% end %>
      <% if can? :edit, @image %>
        <br><%= link_to 'Edit', edit_image_path(@image) %>
      <% end %>
    <% else %>
      Image not available
    <% end %>
  </div>
</div>

