<div>
  <%= paginate @artists, :remote => true, :param_name => 'artistpage', :params => {:model => 'Artist'}  %>
  <% if @artists.empty? %>
    <h5>No Artist Results</h5>
  <% else %>
    <div class="well">
      <%= render 'layouts/artist_org_source_index', :collection => @artists %>
    </div>
  <% end %>
  <%= paginate @artists, :remote => true, :param_name => 'artistpage', :params => {:model => 'Artist'}  %>
</div>