<div>
  <%= paginate @sources, :remote => true, :param_name => 'sourcepage', :params => {:model => 'Source'} %>
  <% if @sources.empty? %>
    <h5>No Source Results</h5>
  <% else %>
    <div class="well">
      <%= render 'layouts/artist_org_source_index', :collection => @sources %>
    </div>
  <% end %>
  <%= paginate @sources, :remote => true, :param_name => 'sourcepage', :params => {:model => 'Source'} %>
</div>