<% content_for :title do %>Tags<% end %>

<% content_for :header do %>
  <h2 class="text-center">Tags</h2>
<% end %>

<%= render 'layouts/work_in_progress' %>
<br>
<div id="content" class="text-center">
  Working on making it look better, but here are the tags for now.
  <% @tags.group_by(&:classification).each_with_index do |(k,v),n| %>
    <% if n.multiple_of?(4) %>
      <div class="row">
    <% end %>
      <div class="col-md-3">
        <h4 class="text-center"><%= k %> Tags</h4>
        <% v.each do |tag| %>
          <div class="text-center"><%= link_to "#{tag.name} (#{tag.subjects.count})", tag %></div>
        <% end %>      
      </div>
    <% if (n + 1).multiple_of?(4) %>
      </div>
    <% end %>  
    <% if n.multiple_of?(4) && n == @tags.group_by(&:classification).count - 1 %>
      </div>
    <% end %>
  <% end %>
</div>

