@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "colors/light_blue_scheme";

//Forms

#full-view {
  @include make-row();
  #left-sidebar-form-view{
    @include make-sm-column(4);
  }
  #form-view {
    @include make-sm-column(8);
  }
  a {
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-horizontal select {
  margin-left: 8px;
  width: 25%;
}

input[type="file"] {
  display: inline;
}

.input-xmini {
 width: 5%;
}    

.input-xlarge {
  width: 35%;
}

.input-xsmall {
 width: 10% !important;
}

.field_with_errors {
  display: inline-block;
}

.submit {
  text-align: center;
}

//Autocomplete styling
.ui-autocomplete {
  top: -100px;
  margin-bottom: -100px;
  z-index: 9999;
  width: 450px;
  padding: 0;
  position: absolute;
  font-size: 90%;
  li:nth-child(even) {
    background: #F4F4F4;
  }
  li {
    border: 1px solid transparent;
    list-style-type: none;
    span.model-info {
      font-size: 80%;
      float: right;
    }
    &.ui-state-focus {
        background: #f2f2f2/*{bgColorHover}*/ url(/assets/jquery-ui/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
    }
  }
  
}

//Hides autocomplete selection div.
.ui-helper-hidden-accessible {
  display: none
}
