@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "colors/light_blue_scheme";

//
#large-view {
  .sidebar, #grid-content {
    overflow: hidden;
    margin-bottom: 0;
    
    .divider-header {
      display: none;
      clear:both;  
      text-align: center;
    }
  }
  #image-sidebar {
    text-align: center;
    .image-row {
      @include make-row();
      .image-column {
        @include make-sm-column(6);
      }
    }
    .image-text-link {
      margin-bottom: 10px;
    }
  }
  
  #selection-sidebar{
    background-color: lighten($color-1, 5%);
    .grouping {
      display: block;
      &:first-of-type {.group-label { border-top: none; }}
      .group-label {
        background: transparent;
        display: block ;
        cursor: pointer;
        border-left: 1px solid #ddd;
        border-top: 1px solid #bbb;
      }
      .group-section { 
        @include make-row();
        div {
          @include make-sm-column(8);
          padding: 10px 3px 10px 3px;
          &.count {
            @include make-sm-column(2);
            padding-left: 18px;
            padding-right: 1px;  
            span {
              font-size: 70%;
              padding: 3px 5px;
              margin: 0px 2px;
            }
          }
          &.chevron {
            @include make-sm-column(2);
            padding-left: 1px;
            padding-right: 15px;   
          }
        }
      }
      .group-items {
        .item {
          a {
            padding: 5px 10px 5px 35px;
            display: block;
            background-color: lighten($color-1, 15%);
            font-size: 90%;
            &:hover {
              background: linear-gradient(45deg, lighten($color-1, 15%), lighten($color-2, 20%), lighten($color-1, 15%));
            }
            &.selected {
              background-color: lighten($color-2, 15%);
              &:hover {
                background-color: lighten($color-2, 15%);
              }
            }
            &.active {
              background: lighten($color-2, 20%);              
            }
          }
          span {
            float:left;
            padding-top: 4px;
            padding-left: 10px;
          }
        }
      }
      
    }
  }
  
  #filter-sort-sidebar {
    border-top: 1px solid #ddd;
    .filter-group, .sort-group {
      background-color: lighten($color-1, 15%);
      padding: 10px 0px 10px 0px;
      border-left: 1px solid #ddd;
      border-bottom: 3px ridge $color-1;
      &:last-of-type { 
        border-bottom: none;
      }
      .filter-name, .sort-name {
        margin: 10px 0px 10px 10px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 800;
      }
      .filter-items, .sort-items {
        .filter-item, .sign-in-item, .sort-item {
          font-size: 90%;
          a {
            padding: 3px 0px 3px 25px;
            display: block;
            &:hover {
              background: linear-gradient(45deg, lighten($color-1, 15%), lighten($color-2, 20%), lighten($color-1, 15%));
            }

            &.active {
              background: lighten($color-2, 20%);              
            }
          }
          span {
            float:left;
            padding-top: 3px;
            padding-left: 5px;
          }
        }
      }
      .date-controls {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        width: 80%;
        #date-slider {
          span.ui-slider-handle {
            width: 10px;
            margin-left: -5px;
          }
          .ui-slider-range {
            background: $color-1;
          }
        }  
        .slider-display {
          margin-top: 5px;
          &:first-of-type {
            float:left;
          }
          &:last-of-type {
            float: right;
          }            
        }
    
      }

    }
  } 
  
};

#grid-content {
  .album {
    display: none;
    &.album-visible { display: block}
    width: 33%;
    &.album-well4x {
      width: 24%
    }
    float:left;
    padding: 0 0.6% 0 0.6%;
    border-radius: 10px;
    border: 0px;
    .enhance {
      height: 175px;
      border-radius: 10px;
      overflow: hidden;
      z-index: 1;
      &:hover {
        img {
          border-radius:10px;
          transform: scale(1.3);
        };
        .album-footer {
          background:rgba(0,0,0,1);
        }
        .collection-badge {
          .collected{
            background:rgba(84,158,65,1);
          }
          .ignored{
            background:rgba(205,18,18,1);
          }
          .wishlisted{
            background:rgba(69,41,209,1);
          }
        }
      }    
      img {
        transition: all 0.2s ease-in-out;
        width: 100%;
      }
      position:relative;
      .collection-badge {
        position:absolute;
        top: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        color:rgb(255,255,255) ;
        .collected{
          background:rgba(84,158,65,0.5);
        }
        .ignored{
          background:rgba(205,18,18,0.5);
        }
        .wishlisted{
          background:rgba(69,41,209,0.5);
        }   
      }
      .album-footer {
        position:absolute;
        width: 100%;
        bottom: 0;
        padding: 0 2% 0 2%;
        color:rgb(255,255,255) ;
        background:rgba(0,0,0,0.5);
        a {
          color:rgb(255,255,255) ;
        }
      }
    }
  }
}