// Sass file for css version 1
@import "bootstrap/variables";
@import "bootstrap/mixins";

//Additional modifications to bootstrap for more flexibility
  //Gutters
    .no-gutter [class*="-2"] {
        padding-left:0;
        padding-right:0;
    }
    
    .no-gutter [class*="-10"] {
        padding-left:0;
        padding-right:0;
    }

//For editing language order in edit_profile 
  .languagelist {
    display: inline-block;
  }
  
  .languageselect {
    width: 100px;
  }
  
//for drill down tables
  .drilled-table {
    border-style: groove;
    border-radius: 5px;
    border-color: #66FF66;
  }


//Reverses hover-underline logic for these divs (found in show's)

input[type="file"] {
  display: inline;
}

.ui-autocomplete {
  width: 400px;
}