<% content_for :title do %>Edit - <%= @organization.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Edit Organization: <%= @organization.name %></h2>
  </div>
<% end %>

<%= render 'form' %>
