<% content_for :title do %>Login<% end %>

<% content_for :header do %>
  <h2 class="text-center">Login</h2>
<% end %>

<%= render_form(@user_session, url: user_session_path, submit_title: "Login") %>

<div class="text-center">
  <%= link_to 'Forgot your password?', forgotten_password_path%>
</div>
