<% content_for :title do %>Login<% end %>

<% content_for :header do %>
  <h2 class="text-center">Login</h2>
<% end %>

<%= render_form(@user_session, url: user_session_path, submit_title: "Login") %>

<%= link_to 'Forgot your password?', requestpasswordreset_path %>