<div id="album-list">
  <% @albums.group_by(&:week).each do |week, albums| %>
    <h4 class="divider-header nodisplaynone">Week of <%= week.strftime('%B %-d, %Y') %></h4>
    <% albums.each do |album| %>
      <ul id="<%= album.id %>" class="album-well album-well4x nodisplaynone" data-le="<%= "limitededition" if album.limited_edition? %>"> 
          <%= render :partial => "layouts/albumlist/albumlist_album_2", :locals => {:album => album} %>
      </ul>
    <% end %>
  <% end %>
</div>