<div id=<%= toggleid %> class="pull-right">
  <%= link_to "Hide", well_toggle_path(:div_id => divid, :toggle_id => toggleid), :remote => true %>
  <%= link_to "Display", well_toggle_path(:div_id => divid, :toggle_id => toggleid), :remote => true, :style => 'display: none' %>
</div>
